{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'homework/css/basic.css' %}" />
    <title></title>
</head>
<body>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h1 align="center">{{ class.title }}</h1>
<h4 align="center">click your name for details</h4>
<table align="center">
{% for s, situation in student_with_situation_list %}
    <tr>
        <td><a href="{% url 'homework:student' s.id %}">{{ forloop.counter }}. {{ s.name }}</a></td>
        <td>
            {% for sk,sv in situation.items %}
                {% if sv.0 == 0 %}
                    <a href="{% url 'homework:thread' sk %}"><img src="{% static 'homework/img/red.png' %}" width="20px" height="20px" /></a>
                {% else %}
                    <img src="{% static 'homework/img/green.png' %}" title="{{ sv.1 }}" width='20px' height='20px' />
                {% endif %}
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>

</body>
</html>