{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'homework/css/basic.css' %}" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script language="javascript">
        $(document).ready(function(){
            $("#go").click(function(){
                if ($("#bbs_id").val()=='' || $("#bbs_id").val()=="请输入和君BBS ID") {
                    alert("请输入和君BBS ID!");
                    $("#bbs_id").focus();
                } else {
                    location.href = "/hj/homework/studentwithbbsid/" + $("#bbs_id").val()
                }
            });
        });
    </script>
    <style>
       .font1{
        color:#aaaaaa;
       }
       .font2
       {
        color:black;
       }
    </style>
    <title></title>
</head>
<body>

<br/>
<br/>
<h1 align="center">和君八届作业自查系统</h1>
<h4 align="center">Design by 北京现场2班(董秘班)</h4>
<h4 align="center">Contact: glasswm@163.com</h4>
<br/>
<br/>
<br/>
<br/>
<br/>
<table align="center">
    <tr>
        <td>
            <input id="bbs_id" value="请输入和君BBS ID" type="text" class="font1"
                   onblur="if(this.value==''){this.value='请输入和君BBS ID';this.className='font1'}"
                   onfocus="if(this.value==this.defaultValue){this.value='';this.className='font2'}"
                   style="height: 26px; width: 600px; text-align: center; font-size: 20px;" />
            <input id="go" type="button" value="查询" style="border:none; height: 30px; width: 100px; font-size: 20px; background:#e0e0e0" />
        </td>
    </tr>
</table>
</body>
</html>
