{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'homework/css/basic.css' %}" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <title></title>

    <script language="javascript">

        $(document).ready(function(){
            $("input.up").click(function(){
                start_page = $("input#page"+this.id).val()
                var r = /^[0-9]*[1-9][0-9]*$/
                if (r.test(start_page)) {
                    url_addr = "/hj/homework/updatewithpage/" + this.id + "/" + start_page + "/" + start_page + "/"
                    //alert(url_addr)
                    $.get(url_addr, function(data, status) {
                        //alert("Data: " + data + "\nStatus: " + status);
                        if (status == 'success')
                            location.reload();
                    });
                } else {
                    alert("please input a positive integer")
                }

            });
        });

    </script>

</head>
<body>

<br/>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<h2>Name: {{ student.name }}, &nbsp;&nbsp;&nbsp;&nbsp;BBS_ID: {{ student.bbs_id }}
&nbsp;&nbsp;&nbsp;&nbsp;

{% for sk,sv in situation.items %}
    {% if sv == 0 %}
        <a href="{% url 'homework:thread' sk %}"><img src="{% static 'homework/img/red.png' %}" width="20px" height="20px" /></a>
    {% else %}
        <img src="{% static 'homework/img/green.png' %}" width='20px' height='20px' />
    {% endif %}
{% endfor %}
</h2>
<h4>答完后，请在右侧输入你的回复在帖子第几页，并点击消灭它。(服务器慢，点一次等10-30秒就行!点一次就行!点一次就行!)</h4>
<br/>同志必读<br/>
{% if mustRead_list %}
    <ul>
    {% for mr, word_count, reply_count in mustRead_list %}
        {% if word_count != 0 %}
            <li><a href="">{{ mr.title }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
            reply {{ reply_count }} times, total {{ word_count }} words.
            </li>
        {% else %}
            <li style="background-color: #ffff37"><a href="">{{ mr.title }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
            not complete, <a href="{{ mr.url_addr }}" target="_blank">click here</a> to complete it right now!
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="page{{ mr.id }}" type="text" style="width:20px;"/> 页&nbsp;&nbsp;<input class="up" id="{{ mr.id }}" type="button" value="消灭它" ></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No MustRead are available.</p>
{% endif %}

<br/>大课作业<br/>
{% if coreHw_list %}
    <ul>
    {% for c, word_count, reply_count in coreHw_list %}

        {% if word_count != 0 %}
            <li><a href="">{{ c.title }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
            reply {{ reply_count }} times, total {{ word_count }} words.
            </li>
        {% else %}
            <li style="background-color: #ffff37"><a href="">{{ c.title }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
            not complete, <a href="{{ c.url_addr }}" target="_blank">click here</a> to complete it right now!
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="page{{ c.id }}" type="text" style="width:20px;"/> 页&nbsp;&nbsp;<input class="up" id="{{ c.id }}" type="button" value="消灭它" ></li>
        {% endif %}

    {% endfor %}
    </ul>
{% else %}
    <p>No CoreLessonHomework are available.</p>
{% endif %}

</body>
</html>
